- name: install and run niginx
  hosts: web
  become: yes
  tasks:
  - name: install niginx
    ansible.builtin.package:
      name: nginx
      state: present

  - name: start nginx
    ansible.builtin.service:
      name: nginx
      state: started 
      enabled: yes